/* ==UserStyle==
@name           Bakalaři dark theme
@namespace      https://github.com/JosefKuchar/baka-dark
@version        1.0.8
@description    Bakalaři
@author         Josef Kuchař
@preprocessor   stylus
@var            text bar-color         "Main bar color"    #000
@var            text background-color  "Background color"  #111
@var            text widget-color      "Widget color"      #222
@var            text button-color      "Button color"      #111
==/UserStyle== */

@-moz-document domain("baka.spselitdobruska.cz") {
  .simplebar-content ul li a, .simplebar-content .bk-menu-empty, .simplebar-content .bk-menu-logo, .simplebar-content .bk-menu-hide, .bk-navtop, .bk-menu-logo, #topheader {
    background: bar-color !important;
  }
  body, #formbaka {
    background: bar-color !important;
  }
  #obsah {
    background: background-color;
  }
  .bk-widget-header, .bk-widget-body, .floating-box {
    background: widget-color !important;
  }
  .bk-widget-header {
    border-color: background-color !important;
  }
  #schedule .day-row, #schedule .day-item .empty, #schedule .day-item, #schedule .day-item div {
    border-color: widget-color;
  }
  #schedule .day-row .odd-day-row {
    background: widget-color;
  }
  .cara, .caraa, .bk-line {
    display: none !important;
  }
  .bk-separator {
    display: none;
  }
  nav li.level_Premium::after, nav li a.level_Premium::after {
    color: black !important;
  }
  #topheader #info-uzivatel .bk-menu-avatar {
    border: none;
  }
  .myButton {
    background: button-color !important;
  }
  .bk-btn-radio .myButton {
    border: button-color;
  }
  .dxichSys {
    background-color: button-color !important;
  }
  .bk-navtop .menu-dropdown .bk-menu-avatar {
    border: none;
  }
  #outer {
    background: background-color !important;
  }
  #loginBox {
    background: widget-color !important;
  }
  .predmet-radek {
    background: widget-color !important;
    border: none;
  }
  .rozjed.ico32-ovladani-plus {
    color: black;
  }
  .bk-widget-footer {
    border-color: background-color !important;
  }
  .bk-widget-header .ico32-modul-rozvrhHodin, .bk-widget-header .ico32-modul-suplovani, .bk-widget-header .ico32-modul-sluzby, .bk-widget-header .ico32-modul-klasifikace, .bk-widget-header .ico32-modul-domaciUkoly, .bk-widget-header .ico32-modul-novinky {
    color: black;
  }
  .widget-placeholder img {
    filter: invert(1);
  }
  #inner {
    top: initial;
  }
}
